{{ kernel_version_string.stdout }}

  █████╗     ██╗  ██╗    ███████╗
 ██╔══██╗    ╚██╗██╔╝    ██╔════╝
 ███████║     ╚███╔╝     █████╗
 ██╔══██║     ██╔██╗     ██╔══╝
 ██║  ██║    ██╔╝ ██╗    ███████╗
 ╚═╝  ╚═╝    ╚═╝  ╚═╝    ╚══════╝

Hostname: {{ ansible_fqdn }}
IP address: {{ ansible_default_ipv4.address }}
