{{ kernel_version_string.stdout }}
 _____
< AXE >
 -----
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

Hostname: {{ ansible_fqdn }}
IP address: {{ ansible_default_ipv4.address }}

